{% extends '@UI/base.html.twig' %}

{% block body %}

    <div class="max-w-4xl mx-auto p-6">
        <h1 class="text-2xl font-bold">{{ specialist.fullName }}</h1>

        <div class="mt-4 p-4 border rounded-lg shadow-md bg-white">
            <p class="text-gray-700"><strong>Téléphone :</strong> {{ specialist.mobile }}</p>
            <p class="text-gray-700"><strong>Ville :</strong> {{ specialist.city }}</p>
            <p class="text-gray-700"><strong>Email :</strong> <a href="mailto:{{ specialist.email }}" class="text-blue-500 hover:underline">{{ specialist.email }}</a></p>
            <p class="text-gray-700"><strong>Déscription :</strong> {{ specialist.description }}</p>
            <p class="text-gray-700"><strong>Statut :</strong>
                {% if specialist.online %}
                    <span class="text-green-500">En ligne</span>
                {% else %}
                    <span class="text-gray-500">Hors ligne</span>
                {% endif %}
            </p>
        </div>

        <a href="{{ path('psychologists_list') }}" class="mt-4 inline-block text-blue-500 hover:underline">Retour à la liste</a>
    </div>
{% endblock %}

